/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #39487d; /* Light beige background */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #55b4fd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    background-color: #9bff7f; /* Keeping a light background for contrast */
}

.profile-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #627d9f; /* Medium blue border */
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.bio {
    font-size: 1.1em;
    margin-top: 10px;
    color: #1c242c; /* Darkest blue for text */
}

h2 {
    color: #1f3c58; /* Dark blue for headings */
    border-bottom: 2px solid #144c8c; /* Blue border for headings */
    padding-bottom: 5px;
}

.contact-info, .social-media, .skills, .education, .certifications, .courses, .projects {
    margin-bottom: 20px;
}

.contact-info a, .social-media a {
    color: #1f3c58; /* Dark blue for links */
    text-decoration: none;
}

.contact-info a:hover, .social-media a:hover {
    text-decoration: underline;
}

.skills ul, .certifications ul, .courses ul, .projects ul {
    list-style: none;
    padding: 0;
}

.skills ul li, .certifications ul li, .courses ul li, .projects ul li {
    background: #8ab9ee; /* Light blue background for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #1c242c; /* Darkest blue for text in list items */
}
